@model List<Suite_de_Gestion_Isari.Entidades.Puestos>

@{
    ViewData["Title"] = "Lista de Puestos";
}

<h1>@ViewData["Title"]</h1>

<table id="tablaPuestos" class="table text-nowrap align-middle mb-0">
    <thead>
        <tr>
            <th>ID Puesto</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Salario</th>
            <th>Acciones</th>
        </tr>
            
           
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var puesto in Model)
            {
                <tr>
                    <td>@puesto.ID_PUESTO</td>
                    <td>@puesto.NOMBRE_POSICION</td>
                    <td>@puesto.Descripcion</td>
                    <td>@puesto.Salario</td>
                    <td>                      
                     <a href="@Url.Action("ActualizarPuesto","Puesto", new { ID = puesto.ID_PUESTO })" class="btn">
                        <i class="bi bi-bi-pencil-square" style="font-size: 1.6em;"></i>
                        <i class="bi bi-pencil-square"></i>
                    </a> 
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center">No hay puestos registrados.</td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $("#tablaPuestos").DataTable({
            language: {
                url:'//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            },columnDefs: [
                { targets: [0, 1, 2, 3], type: "string" }
            ]
        });
    })
</script>

