@model List<Suite_de_Gestion_Isari.Entidades.Venta>

@{
    ViewData["Title"] = "Historial de Ventas";
}

<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">Historial de Ventas</h1>

    @if (ViewBag.MensajeError != null)
    {
        <div class="alert alert-danger">
            @ViewBag.MensajeError
        </div>
    }

    @if (Model != null && Model.Any())
    {
        <table id="tablaFacturas" class="table table-striped tabla-estilo">
            <thead>
                <tr>
                    <th>Factura ID</th>
                    <th>Vendedor</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var factura in Model)
                {
                    <tr>
                        <td>@factura.ConsecutivoFactura</td>
                        <td>@factura.Nombre</td>
                        <td>@factura.Fecha</td>
                        <td>¢ @factura.Total</td>
                        <td>
                            <a href="@Url.Action("ConsultarDetalleFactura", "PuntoVenta", new { consecutivo = factura.ConsecutivoFactura })" class="btn">
                                <i class="bi bi-eye" style="font-size: 1.6em;"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No se han encontrado facturas para este usuario.</p>
    }
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $("#tablaFacturas").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            },
            columnDefs: [
                { targets: [0, 1, 2, 3], type: "string" }
            ]
        });
    })
</script>
