@model Suite_de_Gestion_Isari.Entidades.Devolucion
@{
    ViewData["Title"] = "Registro de Devolución";
}

<div class="container-fluid mt-auto">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-10">
            <div class="shadow rounded bg-light p-5">
                <h1 class="display-4 text-center mb-5">Registro de Devolución</h1>

                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger text-center">@ViewBag.ErrorMessage</div>
                }

                <form asp-action="RegistroDevolucion" method="post" class="bg-light p-5 rounded shadow-lg">
                    <!-- Selección de Ticket de Venta -->
                    <div class="row mb-4">
                        <div class="col-lg-12">
                            <label for="ticket" class="form-label fw-bold fs-5">Ticket de Venta</label>
                            <input type="text" class="form-control form-control-lg" asp-for="@Model.ID_FACTURA" placeholder="Ingrese el número de ticket de la venta" required>
                            <span asp-validation-for="@Model.ID_FACTURA" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Razón de la Devolución -->
                    <div class="row mb-4">
                        <div class="col-lg-12">
                            <label for="descripcion" class="form-label fw-bold fs-5">Razón de la Devolución</label>
                            <textarea class="form-control form-control-lg" asp-for="@Model.DESCRIPCION" rows="4" placeholder="Ingrese la razón de la devolución" required></textarea>
                            <span asp-validation-for="@Model.DESCRIPCION" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Cantidad de Dinero -->
                    <div class="row mb-4">
                        <div class="col-lg-12">
                            <label for="dinero" class="form-label fw-bold fs-5">Cantidad a Reembolsar</label>
                            <input type="number" class="form-control form-control-lg" asp-for="@Model.DINERO" placeholder="Ingrese la cantidad de dinero a reembolsar" required>
                            <span asp-validation-for="@Model.DINERO" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Botones -->
                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <a class="btn btn-secondary btn-lg px-3" role="button" asp-controller="PuntoVenta" asp-action="ConsultaDevoluciones">Cancelar</a>
                        <button type="submit" class="btn btn-primary btn-lg px-3">Registrar Devolución</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

