@model List<Suite_de_Gestion_Isari.Entidades.Empleado>

@{
    ViewData["Title"] = "Lista de Empleados";
}

<h1>@ViewData["Title"]</h1>

<table id="tablaEmpleado" class="table text-nowrap align-middle mb-0">
    <thead>
        <tr>
            <th>ID EMPLEADO</th>
            <th>Nombre</th>
            <th>Cedula</th>
            <th>EMAIL</th>
            <th>ROL</th>
            <th>PUESTO</th>
            <th>TELEFONO</th>
            <th>Acciones</th>

        </tr>


    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var empleado in Model)
            {
                <tr>
                    <td>@empleado.ID_EMPLEADO</td>
                    <td>@empleado.NOMBRE</td>
                    <td>@empleado.CEDULA</td>
                    <td>@empleado.EMAIL</td>
                    <td>@empleado.DESCRIPCION</td>
                    <td>@empleado.NOMBRE_POSICION</td>
                    <td>@empleado.TELEFONO</td>
                    <td>
                        <a href="@Url.Action("ActualizarPuesto","Puesto", new { ID = empleado.ID_EMPLEADO })" class="btn">
                            <i class="bi bi-bi-pencil-square" style="font-size: 1.6em;"></i>
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center">No hay puestos registrados.</td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $("#tablaEmpleado").DataTable({
            language: {
                url:'//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            },columnDefs: [
                { targets: [0, 1, 2, 3,4,5,7], type: "string" }
            ]
        });
    })
</script>

