@model List<Suite_de_Gestion_Isari.Entidades.Productos>

@{
    ViewData["Title"] = "Inventario";
}

<div>
    <div class="d-sm-inline-flex flex-row align-items-center container-fluid">
        <h1 class="display-4 flex-grow-1 text-center mb-4">Inventario de productos</h1>
        <a class="btn btn-primary" role="button" asp-controller="Inventario" asp-action="Agregar">Agregar nuevo producto</a>
    </div>
    <table id="Productos" class="table table-striped tabla-estilo">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Codigo Barras</th>
                <th scope="col">Producto</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Precio</th>
                <th scope="col">Unidades</th>
                <th scope="col">Acciones</th>              
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var producto in Model)
                {
                    <tr>
                        <th scope="row">@producto.ID_PRODUCTO</th>
                        <th scope="row">@producto.CODIGO_PRODUCTO</th>
                        <td>@producto.NOMBRE</td>
                        <td>@producto.PROVEEDOR</td>
                        <td>¢ @producto.PRECIO</td>
                        <td>@producto.CANTIDAD_DISPONIBLE</td>
                        <td>
                            <a class="btn btn-warning btn-sm" role="button" asp-controller="Inventario" asp-action="Editar" asp-route-id="@producto.ID_PRODUCTO">Editar</a>
                            <a class="btn btn-danger btn-sm" role="button" asp-controller="Inventario" asp-action="Eliminar" asp-route-id="@producto.ID_PRODUCTO">Eliminar</a>
                        </td>                     
                    </tr>
                }
            }
            else {
                <tr>
                    <td colspan="6" class="text-center">No hay productos registrados</td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $("#Productos").DataTable({
            language: {
                url:'//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            },columnDefs: [
                { targets: [0, 1, 2, 3,4,5,6], type: "string" }
            ]
        });
    })
</script>

<script>

       function ActualizarCarrito(ID_PRODUCTO) {
        //let cantidad = $("#" + ID_PRODUCTO).val();

        $.ajax({
            method: "POST",
            url: "/PuntoVenta/RegistrarVenta", // Asegúrate de que este sea el nombre correcto del controlador y acción.
            dataType: "json",
           // contentType: "application/json",
            data: {
                "ID_PRODUCTO": ID_PRODUCTO
                
            },
            success: function (data) {
                if (data == 0) {
                    MostrarMensajeOk("El producto se actualizó correctamente en su carrito");
                } else {
                    MostrarMensaje("El producto no fue actualizado en su carrito");
                }
            },
            error: function () {
                MostrarMensaje("Ocurrió un error al procesar la solicitud.");
            }
        });
    }


    function MostrarMensajeOk(texto)
    {
          Swal.fire({
            title: "Información",
            confirmButtonText: "Aceptar",
            text: texto,
            icon: "success"
          }).then((result) => {

            if (result.isConfirmed) {
              window.location.href = "/Home/Inicio";
            }
          });
    }

    function MostrarMensaje(texto)
    {
        Swal.fire({
          title: "Información",
          text: texto,
          icon: "info"
        });
    }

</script>