@model List<Suite_de_Gestion_Isari.Entidades.Productos>

@{
    ViewData["Title"] = "Inventario";
}

<div>
    <div class="d-sm-inline-flex flex-row align-items-center container-fluid">
        <h1 class="display-4 flex-grow-1 text-center mb-4">Inventario</h1>
        <a class="btn btn-primary" role="button" asp-controller="Inventario" asp-action="Agregar">Agregar</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Precio</th>
                <th scope="col">Unidades</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var producto in Model)
                {
                    <tr>
                        <th scope="row">@producto.ID_PRODUCTO</th>
                        <td>@producto.NOMBRE</td>
                        <td>@producto.PROVEEDOR</td>
                        <td>@producto.PRECIO</td>
                        <td>@producto.CANTIDAD_DISPONIBLE</td>
                        <td>
                            <a class="btn btn-warning" role="button" asp-controller="Inventario" asp-action="Editar" asp-route-id="1">Editar</a>
                            <a class="btn btn-danger" role="button" asp-controller="Inventario" asp-action="Eliminar" asp-route-id="1">Eliminar</a>
                        </td>
                    </tr>
                }
            }
            else {
                <tr>
                    <td colspan="6" class="text-center">No hay productos registrados</td>
                </tr>
            }
        </tbody>
    </table>
</div>
