@model List<Suite_de_Gestion_Isari.Entidades.Venta>

@{
    ViewData["Title"] = "Resumen Diario de Transacciones";
    decimal total = 0;
}

<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">Resumen Diario de Transacciones</h1>

    <div class="d-flex justify-content-between mb-4">
        <button class="btn btn-primary" data-bs-toggle="collapse" href="#resumenTransacciones" role="button" aria-expanded="false" aria-controls="resumenTransacciones">
            Ver Resumen Diario
        </button>
        <button class="btn btn-success" data-bs-toggle="collapse" href="#exportarResumen" role="button" aria-expanded="false" aria-controls="exportarResumen">
            Exportar Consolidado
        </button>
    </div>

    <div class="collapse" id="resumenTransacciones">
        <h4 class="mb-3">Resumen de Transacciones del Día</h4>
        @if (Model != null && Model.Any())
        {
            <table class="table table-striped" id="tablaFacturas">
                <thead>
                    <tr>
                        <th>ID Factura</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var factura in Model)
                    {
                        <tr>
                            <td><a asp-controller="PuntoVenta" asp-action="ConsultarDetalleFactura" asp-route-consecutivo="@factura.ConsecutivoFactura">@factura.ConsecutivoFactura</a></td>
                            <td>¢ @factura.Total</td>
                        </tr>
                        @(total += @factura.Total)
                    }
                </tbody>
            </table>
            <h5><b>Total: </b> @total</h5>
        }
        else
        {
            <p>No hay facturas en este momento.</p>
        }
    </div>

    <div class="collapse" id="exportarResumen">
        <h4 class="mb-3">Exportar Consolidado Diario</h4>
        <p>Selecciona el formato en el que deseas exportar el consolidado del día (PENDIENTE):</p>
        <div class="d-flex justify-content-between">
            <button class="btn btn-info">Exportar a PDF</button>
            <button class="btn btn-info">Exportar a Excel</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#tablaFacturas").DataTable({
            language: {
                url:'//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            },columnDefs: [
                { targets: [0, 1, 2], type: "string" }
            ]
        });
    })
</script>